body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  min-height: 8px;
}
main {
  flex-grow: 1;
}
footer {
  min-height: 8px;
}

.shop-img {
  max-height: 12em;
}

.rotate {
  transform: rotate(2)
}

.bg-gold {
  background-color: gold;
}

.bg-maroon{
  background-color: maroon;
}

.text-gold {
  color: gold;
}
.text-maroon{
  color: maroon;
}

.big-text{
  font-size: 10em;
  font-weight: bolder;
}

.clickable:hover {
  cursor: pointer;
}